<button #invisibleTrigger class="mat-menu-focus-hack"></button>
<div [matMenuTriggerFor]="itemMenu">
  <mat-menu class="app-context-menu" #itemMenu="matMenu">
    <button mat-menu-item (click)="openItem()">Edit ...</button>
    <button mat-menu-item (click)="openDocumentation()">
      Show documentation...
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="copyItem()">Copy...</button>
    <button mat-menu-item *ngIf="isNotPublished" (click)="publish()">
      Publish...
    </button>
    <button mat-menu-item *ngIf="isNotPublished" (click)="delete()">
      Delete...
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="editDocumentation()">
      Edit documentation...
    </button>
    <button mat-menu-item *ngIf="!isWorkflowWithoutIo" (click)="configureIO()">
      Configure IO...
    </button>
    <button mat-menu-item *ngIf="!isIncomplete" (click)="execute()">
      Execute...
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="editItem()">Properties...</button>
    <mat-divider></mat-divider>
    <button mat-menu-item *ngIf="!isNotPublished" (click)="deprecate()">
      Deprecate...
    </button>
  </mat-menu>
</div>
