<h1 mat-dialog-title>Change Revision</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Available Revisions</mat-label>
    <mat-select [(value)]="selectedRevision">
      @for (rev of data.revisions; track rev.id) {
        <mat-option [value]="rev">
          {{ rev.state === 'DRAFT' ? '(DRAFT)' : '' }} {{ rev.name }} ({{
            rev.version_tag
          }})
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="_onCancel()" mat-button>Cancel</button>
  <button (click)="_onOk()" mat-button>Change Revision</button>
</div>
