*/node_modules*
*/dist*
*/coverage*
.coverage
*/mock*
*/.scannerwork*
Dockerfile
documentation
.git
.s.PGSQL*
*/.vscode*
*/.ipynb_checkpoints/
*/__pycache__*
*.pyc
*.pyo
runtime/.pytest_cache
runtime/.mypy_cache
runtime/**/venv
runtime/**/lab
runtime/**/nix_venv_*
demo-adapter-python/**/lab
demo-adapter-python/**/venv
demo-adapter-python/**/nix_venv_*
.tmp
**/.overmind.sock
