.idea/
*.iml
target
.classpath
.settings
.factorypath
.project
__pycache__
.ipynb_checkpoints
*.pyc
*.pyo
.coverage
.pytest_cache
.mypy_cache
.s.PGSQL*
.ruff_cache

*.hd-creds
hd-docker-compose-trafos
runtime/**/lab
runtime/**/venv
runtime/**/nix_venv_*
runtime/ruff_report.xml
runtime/test_results.xml
runtime/.coverage*
runtime/.coverage.xml
runtime/**/writable_sqlite.db
runtime/upload_settings/*
runtime/settings/*
demo-adapter-python/**/lab
demo-adapter-python/**/venv
demo-adapter-python/**/nix_venv_*
demo-adapter-python/ruff_report.xml
demo-adapter-python/test_results.xml
demo-adapter-python/.coverage*
demo-adapter-python/.coverage.xml
demo-adapter-python/upload_settings/*
demo-adapter-python/settings/*
.vscode/.ropeproject/objectdb
.tmp
.jupyter
