volumes:
  postgres_data:
    driver: local
  designer_obj_repo:
    driver: local
  local_files:
    driver: local

services:
  hetida-designer-frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    #image: hetida/designer-frontend
    ports:
      - 80:8080
    depends_on:
      - hetida-designer-backend
      - hetida-designer-demo-adapter-python

  hetida-designer-backend:
    build:
      context: .
      dockerfile: Dockerfile-runtime
    #image: hetida/designer-backend
    environment:
      - HD_DATABASE_URL=postgresql+psycopg2://hetida_designer_dbuser:hetida_designer_dbpasswd@hetida-designer-db:5432/hetida_designer_db
      - HD_ENSURE_DB_SCHEMA=true
      - HD_IS_RUNTIME_SERVICE=false
      - HD_USE_AUTH=false

    depends_on:
      hetida-designer-db:
        condition: service_healthy
      hetida-designer-runtime: 
        condition: "service_started"

    ports:
      - 8080:8090

  hetida-designer-runtime:
    build:
      context: .
      dockerfile: Dockerfile-runtime

    #image: hetida/designer-runtime
    volumes:
      - designer_obj_repo:/mnt/obj_repo
      - ./runtime/demodata/local_files:/mnt/mounted_local_files
    ports:
      - 8090:8090
    environment:
      RUNTIME_LOCAL_FILE_ADAPTER_LOCAL_DIRECTORIES: '["/mnt/mounted_local_files"]'
      HD_IS_BACKEND_SERVICE: "false"
      HD_USE_AUTH: "false"


  hetida-designer-db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: hetida_designer_db
      POSTGRES_USER: hetida_designer_dbuser
      POSTGRES_PASSWORD: hetida_designer_dbpasswd
    ports:
      - "5430:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hetida_designer_dbuser -d hetida_designer_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  hetida-designer-demo-adapter-python:
    build:
      context: .
      dockerfile: Dockerfile-demo-adapter-python
    image: hetida/designer-demo-adapter-python
    ports:
      - 8092:8092

networks:
  default:
    name: hetida-designer-network