<div class="d-flex content-space-between" mat-dialog-title>
  <h4 class="m-0">Search Sources</h4>
  <div>
    <button (click)="onCancel()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content class="dialog-content">
  <div *ngIf="data.dataSourceType === 'source'" class="mb-2">
    Hint: Select a data source and connect it to a Workflow/Component input to
    provide that input with data from the selected source.
  </div>
  <div *ngIf="data.dataSourceType === 'sink'" class="mb-2">
    Hint: Select a data sink and connect it to a Workflow/Component output to
    send the data of that output to the selected sink.
  </div>

  <hd-tree-node
    (nodeClick)="nodeClick($event)"
    [initialDataTypeFilter]="data.initialDataTypeFilter"
    [dataSourceType]="data.dataSourceType"
    [thingNodes]="data.thingNodes"
    [sourcesOrSinks]="data.sourcesOrSinks"
  ></hd-tree-node>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onOk()">Done</button>
</div>
