<div [matMenuTriggerFor]="itemMenu">
  <mat-menu class="app-context-menu" #itemMenu="matMenu">
    <button
      mat-menu-item
      #invisibleTrigger
      class="mat-mdc-menu-focus-hack"
    ></button>
    <button mat-menu-item (click)="openItem()">Edit ...</button>
    <button mat-menu-item (click)="openDocumentation()">
      Show documentation...
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="copyItem()">Copy...</button>
    @if (_isNotPublished) {
      <button mat-menu-item (click)="publish()">Publish...</button>
      <button mat-menu-item (click)="delete()">Delete...</button>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="editDocumentation()">
      Edit documentation...
    </button>
    @if (!_isWorkflowWithoutIo) {
      <button mat-menu-item (click)="configureIO()">Configure IO...</button>
    }
    @if (!_isIncomplete) {
      <button mat-menu-item (click)="execute()">Execute...</button>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="editItem()">Properties...</button>
    <mat-divider></mat-divider>
    @if (!_isNotPublished) {
      <button mat-menu-item (click)="deprecate()">Deprecate...</button>
    }
  </mat-menu>
</div>
