.dialog-content {
  display: flex;
  flex-direction: row;
  height: 75vh;
}

.preview {
  flex: 1 1 20%;
  overflow: hidden;
}

.io-configuration {
  flex: 0 0 40%;
  overflow: auto;

  &__title {
    margin-bottom: var(spacing-1);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__info-text {
    margin-bottom: var(--spacing-2);
  }

  &__connector-type-operator {
    flex: 1 1 180px;
    padding-right: var(--spacing-1);
  }

  &__input-type-option {
    flex: 0 0 90px;
    padding-right: var(--spacing-1);
  }
}

.mat-icon {
  &.disabled {
    cursor: default !important;
    filter: invert(50%);
  }
}

.input-configuration-label-column {
  flex: 1 1 30%;
}

.input-configuration-delete-icon-column {
  flex: 0 0 48px;
}

.default-value-input {
  flex: 0 1 42%;
  padding-right: calc(2 * var(--spacing-2));
  margin-left: auto;
}
