<div mat-dialog-title>
  <h4 class="m-0">
    Configure Input / Output for Workflow
    {{ data.workflowTransformation.name }}
    {{ data.workflowTransformation.version_tag }}
  </h4>
  <button
    (click)="onCancel()"
    mat-icon-button
    attr.data-testid="close-workflow-io-dialog"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="dialog-content">
  <div class="io-configuration">
    <div class="io-configuration__title">
      <span class="mat-h2">Input Configuration</span>
    </div>
    <div class="io-configuration__info-text">
      Configure the inputs of your Workflow either as dynamic or fixed. Dynamic
      inputs can be dynamically connected to Data Sources and get their data at
      the beginning of each workflow execution.
    </div>
    <form *ngIf="ioItemForm" [formGroup]="ioItemForm">
      <div class="d-flex">
        <h3 class="io-configuration__connector-type-operator text-strong m-0">
          Connector / Data Type / Operator
        </h3>
        <h3 class="io-configuration__input-type-option text-strong m-0">
          Input Type
        </h3>
        <h3 class="text-strong m-0 input-configuration-label-column">Label</h3>
        <span class="input-configuration-delete-icon-column"></span>
      </div>
      <mat-divider></mat-divider>
      <div
        [formGroup]="ioItem"
        *ngFor="let ioItem of ioItemInputsArray.controls; let i = index"
      >
        <div class="d-flex align-items-center mb-1">
          <div
            class="io-configuration__connector-type-operator overflow-hidden"
          >
            <div class="d-flex">
              <span
                [title]="ioItem.get('connector').value"
                style="flex: 0 1 70%"
                class="mat-body-strong text-ellipsis mr-1"
                >{{ ioItem.get('connector').value }}</span
              >
              <div
                style="flex: 0 0 100px"
                class="d-flex align-items-start text-ellipsis"
              >
                <span
                  [ngStyle]="{ color: getTypeColor(ioItem.get('type').value) }"
                >
                  <mat-icon class="unselectable" [inline]="true">
                    {{ getIcon(ioItem) }}
                  </mat-icon>
                </span>
                <span class="mat-body-strong">{{
                  ioItem.get('type').value
                }}</span>
              </div>
            </div>
            <span>{{ ioItem.get('operator').value }}</span>
          </div>
          <div
            class="io-configuration__input-type-option d-flex flex-direction-column"
          >
            <mat-select
              formControlName="typeOption"
              (valueChange)="_ioTypeOptionChanged($event, ioItem)"
              attr.data-testid="{{
                ioItem.get('connector').value +
                  '-' +
                  ioItem.get('operator').value +
                  '-dynamic-fixed-workflow-io-dialog' | lowercase
              }}"
            >
              <mat-option
                *ngFor="let ioTypeOption of _ioTypeOptions"
                [value]="ioTypeOption"
              >
                {{ ioTypeOption }}
              </mat-option>
            </mat-select>
          </div>
          <mat-form-field
            *ngIf="ioItem.get('isConstant').value; else variableInput"
            class="input-no-fixed-width input-configuration-label-column"
          >
            <input
              *ngIf="showEditorIcon(ioItem)"
              formControlName="constant"
              matInput
              type="text"
              readonly
              class="clickable"
              (click)="$event.preventDefault(); openJsonEditor(ioItem)"
              attr.data-testid="{{
                ioItem.get('connector').value +
                  '-' +
                  ioItem.get('operator').value +
                  '-input-data-workflow-io-dialog' | lowercase
              }}"
            />
            <input
              *ngIf="!showEditorIcon(ioItem)"
              formControlName="constant"
              matInput
              type="text"
              attr.data-testid="{{
                ioItem.get('connector').value +
                  '-' +
                  ioItem.get('operator').value +
                  '-input-data-workflow-io-dialog' | lowercase
              }}"
            />
            <mat-error [hdErrorVisual]="ioItem.get('constant')"></mat-error>
            <mat-label>Input Data</mat-label>
            <span
              *ngIf="showEditorIcon(ioItem)"
              class="clickable"
              matSuffix
              (click)="$event.preventDefault(); openJsonEditor(ioItem)"
              ><mat-icon>create</mat-icon></span
            >
          </mat-form-field>
          <ng-template #variableInput>
            <mat-form-field
              class="input-no-fixed-width input-configuration-label-column"
            >
              <input
                formControlName="name"
                matInput
                type="text"
                attr.data-testid="{{
                  ioItem.get('connector').value +
                    '-' +
                    ioItem.get('operator').value +
                    '-field-name-input-workflow-io-dialog' | lowercase
                }}"
              />
              <mat-error [hdErrorVisual]="ioItem.get('name')"></mat-error>
              <mat-label>Field Name</mat-label>
            </mat-form-field>
          </ng-template>
          <button
            title="Clear Input"
            class="input-configuration-delete-icon-column"
            (click)="resetInputOrOutput(ioItem)"
            mat-icon-button
            [disabled]="!data.editMode"
            attr.data-testid="{{
              ioItem.get('connector').value +
                '-' +
                ioItem.get('operator').value +
                '-clear-input-workflow-io-dialog' | lowercase
            }}"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="d-flex align-items-center mb-1">
          <mat-form-field
            *ngIf="_isDefaultParameter(ioItem)"
            class="input-no-fixed-width default-value-input"
          >
            <mat-label>Default Value</mat-label>
            <input
              formControlName="value"
              matInput
              type="text"
              placeholder="Default Value"
              attr.data-testid="{{
                ioItem.get('name').value +
                  '-optional-input-default-value-workflow-io-dialog' | lowercase
              }}"
            />
            <mat-error [hdErrorVisual]="ioItem.get('value')"></mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="preview">
    <hetida-flowchart
      [initConfiguration]="preview"
      [flowchartConfiguration]="svgConfiguration"
      [clearSVG]="true"
      [alwaysShowEntireWorkflow]="true"
      class="noninteractive"
    >
    </hetida-flowchart>
  </div>
  <div class="io-configuration pl-2">
    <div class="io-configuration_title">
      <span class="mat-h2">Output Configuration</span>
    </div>
    <div class="io-configuration__info-text">
      Configure the outputs of your Workflow. Outputs are always dynamic and can
      be dynamically connected to Data Sinks. You have to specify a unique field
      name for each of them.
    </div>
    <form *ngIf="ioItemForm" [formGroup]="ioItemForm">
      <div class="d-flex">
        <h3 class="io-configuration__connector-type-operator text-strong m-0">
          Connector / Data Type / Operator
        </h3>
        <h3 class="text-strong m-0 pr-2 input-configuration-label-column">
          Label
        </h3>
        <span class="input-configuration-delete-icon-column"></span>
      </div>
      <mat-divider></mat-divider>
      <div
        class="d-flex align-items-center"
        [formGroup]="ioItem"
        *ngFor="let ioItem of ioItemOutputsArray.controls; let i = index"
      >
        <div class="io-configuration__connector-type-operator overflow-hidden">
          <div class="d-flex">
            <span
              [title]="ioItem.get('connector').value"
              style="flex: 1 1 80%"
              class="text-ellipsis mat-body-strong"
              >{{ ioItem.get('connector').value }}</span
            >
            <div style="flex: 0 0 100px" class="d-flex align-items-start">
              <span
                [ngStyle]="{ color: getTypeColor(ioItem.get('type').value) }"
              >
                <mat-icon class="unselectable" [inline]="true">
                  {{
                    ioItem.get('isConstant').value
                      ? 'panorama_fish_eye'
                      : 'lens'
                  }}
                </mat-icon>
              </span>
              <span class="mat-body-strong">{{
                ioItem.get('type').value
              }}</span>
            </div>
          </div>
          <span>{{ ioItem.get('operator').value }}</span>
        </div>
        <mat-form-field
          class="input-no-fixed-width input-configuration-label-column"
        >
          <input
            formControlName="name"
            matInput
            type="text"
            attr.data-testid="{{
              ioItem.get('connector').value +
                '-' +
                ioItem.get('operator').value +
                '-field-name-output-workflow-io-dialog' | lowercase
            }}"
          />
          <mat-error [hdErrorVisual]="ioItem.get('name')"></mat-error>
          <mat-label>Field Name</mat-label>
        </mat-form-field>
        <button
          title="Clear Output"
          class="input-configuration-delete-icon-column"
          (click)="resetInputOrOutput(ioItem)"
          mat-icon-button
          [disabled]="!data.editMode"
          attr.data-testid="{{
            ioItem.get('connector').value +
              '-' +
              ioItem.get('operator').value +
              '-clear-output-workflow-io-dialog' | lowercase
          }}"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <button
    (click)="onCancel()"
    mat-raised-button
    color="primary"
    attr.data-testid="{{
      data.actionCancel + '-workflow-io-dialog' | lowercase
    }}"
  >
    {{ data.actionCancel }}
  </button>
  <button
    (click)="onOk()"
    mat-raised-button
    color="primary"
    [disabled]="!valid"
    attr.data-testid="{{ data.actionOk + '-workflow-io-dialog' | lowercase }}"
  >
    {{ data.actionOk }}
  </button>
</div>
