[tool.ruff]

# allow longer lines than the default (88, same as black)
line-length = 100

# Assume python310
target-version = "py310"

select = ["E", "F", "B", "W", "PL", "ERA", "G", "I", "UP", "YTT", "S", "BLE", "A", "COM", "C4", "DTZ", "T10", "ISC", "ICN", "INP", "PIE", "T20", "PT", "Q", "RET", "SIM", "ARG", "PD"]

ignore = ["E713", "E714", "B008", "PLR2004", "COM812", "RET504", "PD901"]

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"