-c requirements-base.txt
fastapi>=0.65.2
uvicorn>=0.17.2
uvloop
gunicorn
httpx
httptools
psycopg2
sqlalchemy[mypy]
SQLAlchemy-Utils
aiokafka
alembic
pandas
numpy
scikit-learn
scipy
# tensorflow>=2.7.1
keras
statsmodels
dateparser
pydantic[dotenv]>=1.8.2
joblib
holidays
plotly==4.9.0
requests
python-jose[cryptography]
cached-property
odfpy
openpyxl
pyarrow
h5py
tables
fastparquet
xlrd>=2.0
gekko
shapely
geopandas
ortools
regex!=2022.3.15 # bug in combination with dateparser "bad escape..."
