-c requirements.txt
-c requirements-base.txt
coverage
ipykernel
moto<5.0
mypy
nest_asyncio
pytest
pytest-asyncio
pytest-cov
pytest-random-order
pytest-xdist
rope
ruff
types-pytz
types-requests
watchfiles
