-c requirements-base.txt
SQLAlchemy-Utils
aiokafka[snappy]
alembic
asyncstdlib
black
boto3
boto3-stubs[essential]
datashader
dateparser
fastapi>=0.65.2
fastparquet
gekko
geojson
geopandas
gunicorn
h5py
holidays
htpy
httptools
httpx
joblib
kaleido
keras
libcst
lightgbm
numba!=0.56.2 # due to setuptools dependency resolution problems
numpy
odfpy
opencv-python-headless
openpyxl
ortools
pandas
pendulum
pillow
plotly<7
psycopg2
pyarrow
pydantic[dotenv]<3
pydantic-settings
pytest
pytest-asyncio
python-jose[cryptography]
regex!=2022.3.15 # bug in combination with dateparser "bad escape..."
requests
scikit-learn
scipy
semver
shapely
sqlalchemy[mypy]>=2.0,<3
statsmodels
tables
typing-extensions
u8darts[notorch]
uvicorn>=0.17.2
uvloop
xlrd>=2.0
