-c requirements.txt
-c requirements-base.txt
bandit
coverage
ipykernel
moto
mypy
pytest
pytest-asyncio
pytest-cov
pytest-random-order
pytest-xdist
rope
ruff
structlog
types-pytz
types-requests
watchfiles
