fastapi
uvicorn
uvloop
gunicorn
httptools
pandas
numpy
sklearn
scipy
tensorflow
keras
statsmodels
dateparser
pydantic[dotenv]
joblib
holidays
plotly==4.9.0
requests
python-jose[cryptography]
cached-property

