:root {
  --spacing-0: 0px;
  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 40px;
  --font-weight-strong: 500;
  --font-size-13: 13px;
}

html,
body {
  height: 100%;
  margin: 0;
}
