.clickable {
  cursor: pointer !important;
}

.unselectable {
  user-select: none !important;
}

.noninteractive {
  pointer-events: none !important;
}

.text-strong {
  font-weight: var(--font-weight-strong) !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.text-ellipsis {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.text-keep-whitespace {
  white-space: pre !important;
}

.d-flex {
  display: flex !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.content-space-between {
  justify-content: space-between !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.p-0 {
  padding: var(--spacing-0) !important;
}

.p-1 {
  padding: var(--spacing-1) !important;
}

.pr-1 {
  padding-right: var(--spacing-1) !important;
}

.pr-2 {
  padding-right: var(--spacing-2) !important;
}

.pr-3 {
  padding-right: var(--spacing-3) !important;
}

.pl-1 {
  padding-left: var(--spacing-1) !important;
}

.pl-2 {
  padding-left: var(--spacing-2) !important;
}

.pl-3 {
  padding-left: var(--spacing-3) !important;
}

.mr-a {
  margin-right: auto !important;
}

.m-0 {
  margin: var(--spacing-0) !important;
}

.m-1 {
  margin: var(--spacing-1) !important;
}

.m-2 {
  margin: var(--spacing-2) !important;
}

.ml-1 {
  margin-left: var(--spacing-1) !important;
}

.ml-2 {
  margin-left: var(--spacing-2) !important;
}

.ml-3 {
  margin-left: var(--spacing-3) !important;
}

.mr-1 {
  margin-right: var(--spacing-1) !important;
}

.mr-2 {
  margin-right: var(--spacing-2) !important;
}

.mr-3 {
  margin-right: var(--spacing-3) !important;
}

.mr-4 {
  margin-right: var(--spacing-4) !important;
}

.mb-1 {
  margin-bottom: var(--spacing-1) !important;
}

.mb-2 {
  margin-bottom: var(--spacing-2) !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.d-none {
  display: none !important;
}
