/* You can add global styles to this file, and also import other style files */
@import 'core';
@import 'material/config';
@import 'overrides';
@import 'typography';
@import 'utilities';
@import '@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';

.mat-icon-svg-disabled {
  .cls-1 {
    fill: $hd-red;
  }
}

.mat-icon-svg-released {
  .cls-1 {
    fill: $hd-yellow;
  }
}

.mat-icon-svg-draft {
  .cls-1 {
    fill: $hd-black;
  }
}
