<div class="d-flex" [formGroup]="filterFormGroup">
  <mat-form-field class="pr-3">
    <mat-chip-list
      class="mat-chip-list--mini-chip"
      formControlName="textSearchParts"
      #chipList
      aria-label="Fruit selection"
    >
      <mat-chip
        *ngFor="let parts of filterFormGroup.get('textSearchParts').value"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(parts)"
      >
        {{ parts }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Search and enter"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field style="flex: 1 0 250px">
    <mat-label>Select type</mat-label>
    <mat-select style="min-height: 20px" formControlName="dataTypeSearch">
      <mat-option [value]="null">-</mat-option>
      <mat-option *ngFor="let io of ioType | keyvalue" [value]="io.value">
        {{ io.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="icon-bag d-flex">
    <button
      (click)="expandAll()"
      mat-icon-button
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>unfold_more</mat-icon>
    </button>
    <button
      (click)="collapseAll()"
      mat-icon-button
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>unfold_less</mat-icon>
    </button>
  </div>
</div>
<cdk-virtual-scroll-viewport
  class="virtual-scroll-container"
  itemSize="30"
  [minBufferPx]="300"
  [maxBufferPx]="900"
>
  <ng-container *cdkVirtualFor="let node of dataSource">
    <!-- Note that the [style.padding-left] is essentially what cdkTreeNodePadding is doing under the hood -->
    <div
      style="height: 30px"
      class="d-flex align-items-center"
      [style.padding-left]="node.level * 24 + 'px'"
    >
      <!-- Note that treeControl.toggle(node) is essentially what cdkTreeNodeToggle is doing under the hood -->
      <button
        mat-icon-button
        (click)="treeControl.toggle(node)"
        *ngIf="node.expandable"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <div>
        <span>{{ node.name }}</span>
      </div>
      <div
        class="d-flex align-items-end"
        (click)="_nodeClick(node, $event)"
        *ngIf="node.dataType"
      >
        <span [ngStyle]="{ color: getTypeColor(node.dataType) }">
          <mat-icon class="unselectable" [inline]="true">lens </mat-icon>
        </span>
        <div>
          <mat-icon class="clickable">more_horiz</mat-icon>
        </div>
      </div>
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>
