<header class="home-header">
  <img class="home-header__logo" src="assets/svg/logo.svg" />
  <h1>Welcome to hetida designer</h1>
  <h3>{{ version }}</h3>
  @if (_userInfoText !== '') {
    <p class="user-info-text">{{ _userInfoText }}</p>
  }
</header>
<nav class="home-content">
  <ul class="home-content__item-list">
    <li class="home-content__item noninteractive draft">
      <mat-icon></mat-icon>
      <span class="mat-body-strong"> Workflows </span>
    </li>
    <li class="home-content__item" (click)="newWorkflow()">
      <mat-icon class="mat-icon--small mr-1">add_circle_outline</mat-icon>Create
      new workflow...
    </li>
    @for (item of lastOpenedWorkflows | async; track item.id) {
      <li
        class="home-content__item"
        (contextmenu)="
          $event.preventDefault(); openTransformationContextMenu(item, $event)
        "
        (click)="select(item)"
      >
        <mat-icon
          svgIcon="icon-workflow"
          [ngClass]="{
            'mat-icon-svg-disabled': item.state === 'DISABLED',
            'mat-icon-svg-draft': item.state === 'DRAFT',
            'mat-icon-svg-released': item.state === 'RELEASED'
          }"
        ></mat-icon>
        <span class="text-ellipsis"
          >{{ item.name }} ({{ item.version_tag }})</span
        >
      </li>
    }
  </ul>

  <ul class="home-content__item-list">
    <li class="home-content__item draft noninteractive">
      <mat-icon></mat-icon>
      <span class="mat-body-strong"> Components </span>
    </li>
    <li class="home-content__item" (click)="newComponent()">
      <mat-icon class="mat-icon--small mr-1">add_circle_outline</mat-icon>Create
      new component...
    </li>
    @for (item of lastOpenedComponents | async; track item.id) {
      <li
        class="home-content__item"
        (click)="select(item)"
        (contextmenu)="
          $event.preventDefault(); openTransformationContextMenu(item, $event)
        "
      >
        <mat-icon
          svgIcon="icon-component"
          [ngClass]="{
            'mat-icon-svg-disabled': item.state === 'DISABLED',
            'mat-icon-svg-draft': item.state === 'DRAFT',
            'mat-icon-svg-released': item.state === 'RELEASED'
          }"
        ></mat-icon>
        <span class="text-ellipsis"
          >{{ item.name }} ({{ item.version_tag }})</span
        >
      </li>
    }
  </ul>

  <ul class="home-content__item-list">
    <li class="home-content__item noninteractive">
      <span class="mat-body-strong"> Documentation </span>
    </li>
    <li class="home-content__item">
      <a href="https://github.com/hetida/hetida-designer" target="_blank"
        >hetida designer website</a
      >
    </li>
  </ul>
</nav>
<hd-import-trafos-button></hd-import-trafos-button>
