<header class="scheduling-header">
  <h1>Scheduling</h1>
  <button mat-raised-button color="primary" (click)="addNewRow()">
    <mat-icon>add</mat-icon>
    Add New Schedule
  </button>
</header>

<div class="schedule-table" #scheduleTableContainer>
  <table>
    <thead>
      <tr>
        <th class="active_col">Active</th>
        <th>Name</th>
        <th>Workflow / Component</th>
        <th class="wiring_col">Wiring</th>
        <th
          class="cron_col"
          title="Set when to run automatically. Format: minute hour day month weekday
'0 9 * * 1' runs Mondays at 9am
'*/15 * * * *' runs every 15 minutes"
        >
          Cron Expression
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of data"
        (dragover)="onDragOver($event, row)"
        (drop)="onDrop($event, row)"
      >
        <!-- Active Toggle -->
        <td class="active_col">
          <mat-slide-toggle [(ngModel)]="row.active"> </mat-slide-toggle>
        </td>
        <!-- Name Cell -->
        <td
          (click)="
            !isEditing(row.id, 'name') && startEdit(row.id, 'name', row.name)
          "
          [class.editing]="isEditing(row.id, 'name')"
        >
          <span *ngIf="!isEditing(row.id, 'name')" class="cell-content">
            {{ row.name }}
          </span>
          <input
            *ngIf="isEditing(row.id, 'name')"
            type="text"
            [(ngModel)]="editValue"
            (blur)="saveEdit(row)"
            (keydown)="onKeyDown($event, row)"
            class="cell-input"
            autofocus
          />
        </td>
        <!-- Transformation Cell -->
        <td>
          <ng-container *ngIf="row.transformation_id; else dragPrompt">
            <a
              [routerLink]="[]"
              [queryParams]="{ id: row.transformation_id }"
              target="_blank"
            >
              {{ row.transformation_name }} ({{
                row.transformation_version_tag
              }})
            </a>
          </ng-container>
          <ng-template #dragPrompt>
            <span style="color: #999">Drag a workflow / component here!</span>
          </ng-template>
        </td>

        <!-- Wiring Cell -->
        <td class="wiring_col">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!row.transformation_id"
            (click)="openWiringDialog(row)"
          >
            Edit Wiring
          </button>
        </td>

        <!-- Cron Expression Cell -->
        <td
          class="cron_col"
          (click)="
            !isEditing(row.id, 'cron_expression') &&
              startEdit(row.id, 'cron_expression', row.cron_expression)
          "
          [class.editing]="isEditing(row.id, 'cron_expression')"
        >
          <span
            *ngIf="!isEditing(row.id, 'cron_expression')"
            class="cell-content"
          >
            {{ row.cron_expression }}
          </span>
          <input
            *ngIf="isEditing(row.id, 'cron_expression')"
            type="cron_expression"
            [(ngModel)]="editValue"
            (blur)="saveEdit(row)"
            (keydown)="onKeyDown($event, row)"
            class="cell-input"
            autofocus
          />
        </td>

        <td>
          <button
            mat-icon-button
            title="Execute Now"
            color="primary"
            (click)="run(row)"
          >
            <mat-icon>play_circle_outline</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Delete"
            color="primary"
            (click)="delete(row).subscribe()"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
