<header class="scheduling-header">
    <h1>Scheduling</h1>
</header>

<div class="schedule-table">

    <!-- Header Row -->
    <div class="schedule-row schedule-header">
        <div class="col-active">Active</div>
        <div class="col-name">Name</div>
        <div class="col-name">Workflow / Component</div>
        <div class="col-cron">Cron Expression</div>
        <div class="col-actions"></div>
    </div>

    <!-- Data Rows -->
    <div *ngFor="let schedule of schedules" class="schedule-row" (dragover)="onDragOver($event)"
        (drop)="onDrop($event, schedule)">>

        <!-- Active -->
        <div class="col-active">
            <mat-slide-toggle [(ngModel)]="schedule.active">
            </mat-slide-toggle>
        </div>

        <!-- Name -->
        <div class="col-name">
            <ng-container *ngIf="!schedule.editing; else editName">
                {{ schedule.name }}
            </ng-container>
            <ng-template #editName>
                <input matInput [(ngModel)]="schedule.name">
            </ng-template>
        </div>

        <!-- Trafo -->
        <div class="col-trafo">
            <ng-container *ngIf="!schedule.editing; else editTrafo">

                <a [routerLink]="[]" [queryParams]="{ id: schedule.transformation_id }" target="_blank">{{
                    schedule.transformation_name}} ({{schedule.transformation_version_tag}})</a>
            </ng-container>
            <ng-template #editTrafo>
                <input matInput [(ngModel)]="schedule.transformation_id">
            </ng-template>
        </div>

        <!-- Cron Expression -->
        <div class="col-cron">
            <ng-container *ngIf="!schedule.editing; else editCron">
                {{ schedule.cron_expression }}
            </ng-container>
            <ng-template #editCron>
                <input matInput [(ngModel)]="schedule.cronExpression">
            </ng-template>
        </div>

        <!-- Actions -->
        <div class="col-actions">

            <!-- View Mode -->
            <ng-container *ngIf="!schedule.editing; else editActions">
                <button mat-icon-button color="primary" (click)="edit(schedule)">
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>

            <!-- Edit Mode -->
            <ng-template #editActions>
                <button mat-icon-button color="primary" (click)="save(schedule)">
                    <mat-icon>check</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="cancel(schedule)">
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template>

        </div>

    </div>

</div>