$toolbar-height: 40px;
$editor-height: 400px;

.toolbar {
  display: flex;
  height: $toolbar-height;
  justify-content: flex-end;
}

.editor-panel {
  height: $editor-height;
  overflow: hidden;
  &__monaco-editor {
    height: $editor-height;
  }
}
