<div class="d-flex content-space-between" mat-dialog-title>
  <h4 class="m-0">{{ data.title }}</h4>
  <button (click)="onCancel()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form *ngIf="infoForm" [formGroup]="infoForm" autocomplete="off" novalidate>
    <mat-form-field>
      <mat-label>{{ data.abstractBaseItem.type | titlecase }} name</mat-label>
      <input
        formControlName="name"
        id="name"
        matInput
        placeholder="{{ data.abstractBaseItem.type | titlecase }} name"
        type="text"
      />
      <mat-hint align="end">Max. 60 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('name')"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <input
        formControlName="category"
        id="category"
        matInput
        placeholder="Category"
        type="text"
        [matAutocomplete]="auto"
      />
      <mat-hint align="end">Max. 60 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('category')"></mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let category of filteredCategories$ | async"
          [value]="category"
          >{{ category }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Short description</mat-label>
      <mat-error [hdErrorVisual]="infoForm.get('description')"></mat-error>
      <input
        formControlName="description"
        id="description"
        matInput
        placeholder="Short description"
        type="text"
      />
      <mat-error [hdErrorVisual]="infoForm.get('description')"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tag</mat-label>
      <input
        formControlName="tag"
        id="tag"
        matInput
        placeholder="Tag"
        type="text"
      />
      <mat-hint align="end">Unique and max. 20 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('tag')"></mat-error>
    </mat-form-field>
  </form>
  <div>
    <small style="font-size: 0.8em; color: gray"
      >{{ data.abstractBaseItem.type | titlecase }} revision ID:
      {{ data.abstractBaseItem.id }}</small
    >
  </div>
  <div>
    <small style="font-size: 0.8em; color: gray"
      >{{ data.abstractBaseItem.type | titlecase }} revision group ID:
      {{ data.abstractBaseItem.groupId }}</small
    >
  </div>
</div>
<div
  [ngClass]="{ 'copy-base-item--with-delete-button': data.showDeleteButton }"
  mat-dialog-actions
>
  <button
    class="mr-a"
    *ngIf="data.showDeleteButton"
    (click)="_onDelete()"
    color="warn"
    mat-raised-button
  >
    {{ data.deleteButtonText }}
  </button>
  <button (click)="onCancel()" color="primary" mat-raised-button>
    {{ data.actionCancel }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onOk()"
    [disabled]="isAllDataPropertiesDisabled()"
  >
    {{ data.actionOk }}
  </button>
</div>
