<mat-expansion-panel>
  <mat-expansion-panel-header
    [collapsedHeight]="'33px'"
    [expandedHeight]="'33px'"
    (mouseenter)="closePopover()"
  >
    <mat-panel-title>{{ category }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  <div
    *ngFor="let transformation of transformations"
    class="unselectable expansion-panel-content"
    [ngClass]="{ active: transformation.id === activeTransformationId }"
  >
    <hd-navigation-item [transformation]="transformation"></hd-navigation-item>
  </div>
</mat-expansion-panel>
