<mat-expansion-panel>
  <mat-expansion-panel-header
    [collapsedHeight]="'33px'"
    [expandedHeight]="'33px'"
    (mouseenter)="closePopover()"
    attr.data-testid="{{ category + '-navigation-category' | lowercase }}"
  >
    <mat-panel-title>{{ category }}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  @for (transformation of transformations; track transformation.id) {
    <div
      class="unselectable expansion-panel-content"
      [ngClass]="{ active: transformation.id === activeTransformationId }"
      attr.data-testid="{{
        category + '-expansion-panel-navigation-category' | lowercase
      }}"
    >
      <hd-navigation-item
        [transformation]="transformation"
      ></hd-navigation-item>
    </div>
  }
</mat-expansion-panel>
