.dialog-content {
  display: flex;
  flex-direction: row;
  height: 75vh;
  overflow: auto;
}

.component-io {
  &__input-configuration,
  &__output-configuration {
    flex: 1 0 30%;
    overflow: auto;
  }

  &__preview {
    flex: 1 1 20%;
    overflow: hidden;
  }

  &__configuration-header {
    margin-bottom: var(--spacing-2);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__label-parameter {
    padding-right: var(--spacing-2);
    flex: 1 1 40%;
  }

  &__type-parameter {
    padding-right: var(--spacing-2);
    flex: 1 1 40%;
  }

  &__default-parameter {
    padding-right: var(--spacing-2);
    flex: 1 1 20%;
  }

  &__default-value {
    padding-right: var(--spacing-2);
  }

  &__default-value-input {
    width: 220px;
    margin-left: auto;
    padding-right: calc(48px + var(--spacing-2));
  }

  &__action {
    flex: 0 0 48px;
  }
}
