<mat-tab-group
  #matTabGroup
  [animationDuration]="0"
  (selectedTabChange)="_onTabChange($event)"
  [selectedIndex]="_selectedTabIndex"
  class="h-100 w-100"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <hd-home-tab (click)="_closePopover()"></hd-home-tab>
  </mat-tab>
  <mat-tab #matTab *ngFor="let tabItem of _tabItems; trackBy: _trackBy">
    <ng-container *ngIf="_isDocumentation(tabItem)">
      <ng-template mat-tab-label>
        <span class="d-flex">
          <mat-icon>description</mat-icon>
        </span>
        <div class="tab-item__title">
          <span class="text-ellipsis" [title]="tabItem.transformation.name">{{
            tabItem.transformation.name
          }}</span>
          <span class="text-keep-whitespace">
            ({{ tabItem.transformation.version_tag }})</span
          >
        </div>
        <button (click)="_onTabClose(tabItem)" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <hd-documentation-editor
        [editMode]="tabItem.initialDocumentationEditMode"
        [itemId]="tabItem.transformation.id"
      ></hd-documentation-editor>
    </ng-container>
    <ng-container *ngIf="_isTransformation(tabItem)">
      <ng-template mat-tab-label>
        <span class="d-flex">
          <mat-icon
            *ngIf="tabItem.transformation.type === _ItemType.COMPONENT"
            svgIcon="icon-component"
            class="mat-icon-svg"
          ></mat-icon>
          <mat-icon
            *ngIf="tabItem.transformation.type === _ItemType.WORKFLOW"
            svgIcon="icon-workflow"
            class="mat-icon-svg"
          ></mat-icon>
        </span>
        <div class="tab-item__title">
          <span class="text-ellipsis" [title]="tabItem.transformation.name">{{
            tabItem.transformation.name
          }}</span>
          <span class="text-keep-whitespace">
            ({{ tabItem.transformation.version_tag }})</span
          >
        </div>
        <button (click)="_onTabClose(tabItem)" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <hd-toolbar [transformationId]="tabItem.transformation.id"></hd-toolbar>
      <hd-component-editor
        *ngIf="
          isComponentTransformation(tabItem.transformation) && matTab.isActive
        "
        [componentTransformation]="tabItem.transformation"
        (click)="_closePopover()"
      >
      </hd-component-editor>
      <hd-workflow-editor
        *ngIf="tabItem.transformation.type === _ItemType.WORKFLOW"
        [workflowTransformation]="tabItem.transformation"
      ></hd-workflow-editor>
    </ng-container>
  </mat-tab>
</mat-tab-group>
