:host {
  background-color: inherit;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  background-color: inherit;

  .execution-dialog-content {
    background-color: inherit;

    .execution-dialog-parameter-wrapper {
      background-color: inherit;
      display: flex;
      flex-direction: row;
      overflow: auto;

      .parameter-input {
        flex: 0 1 50%;

        .parameter-input-label-column {
          flex: 1 1 30%;
        }

        .parameter-input-type-column {
          flex: 1 1 20%;
        }

        .parameter-input-source-column {
          flex: 1 1 10%;
        }

        .parameter-input-value-column {
          flex: 1 1 30%;
        }

        .parameter-input-delete-icon-column {
          flex: 0 0 40px;
        }
      }

      .parameter-output {
        flex: 0 1 50%;

        .parameter-output-label-column {
          flex: 1 1 30%;
        }

        .parameter-output-type-column {
          flex: 1 1 20%;
        }

        .parameter-output-value-column {
          flex: 1 1 50%;
        }

        .parameter-output-delete-icon-column {
          flex: 0 0 40px;
        }
      }
    }
  }
}
