// Only styles that either require theming variables
// or that override internal material columns.
@mixin navigation-container-theme($primary, $secondary) {
  hd-navigation-container {
    .navigation-container {
      &__filter {
        .mat-button-toggle-group {
          border-radius: 0;

          .mat-button-toggle {
            background-color: map-get($secondary, 700);

            .mat-button-toggle-button {
              height: 34px;

              .mat-button-toggle-label-content {
                height: 34px;
                line-height: 34px;
              }
            }

            .mat-icon-svg {
              .cls-1 {
                fill: map_get($primary, 500);
              }
            }

            &.active {
              background-color: map-get($secondary, 500);

              .mat-icon-svg {
                .cls-1 {
                  fill: $hd-yellow;
                }
              }
            }
          }
        }
      }

      &__scrollable {
        &::-webkit-scrollbar {
          width: 10px;
          background-color: map_get($secondary, 500);
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px map_get($secondary, 500);
          background-color: map_get($secondary, 500);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: map_get($secondary, 500);
          border: 1px solid map-get($primary, 500);
          border-radius: 10px;
        }
      }
    }
  }
}
