:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.navigation-container {
  &__filter {
    width: 100%;
    .mat-button-toggle-group {
      width: 100%;
      display: flex;
      justify-content: center;
      .mat-button-toggle {
        flex: 0 0 50%;
        &.active {
          font-weight: 500;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    .add-button {
      flex: 0 0 50%;
      display: inline-block;
    }
  }

  &__search {
    padding: 0 10px;
  }

  &__scrollable {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 10px;
  }
}
