<div
  [draggable]="transformation.state === RevisionState.RELEASED"
  (dragstart)="dragComponent($event)"
  class="navigation-item clickable"
  (dblclick)="editComponent()"
  (mouseover)="selectComponent()"
  (contextmenu)="$event.preventDefault(); openContextMenu($event)"
>
  <div class="navigation-item__label" attr.data-id="{{ transformation.id }}">
    <span class="text-ellipsis" [title]="transformation.name">{{
      transformation.name
    }}</span>
    <span class="text-keep-whitespace">
      ({{ transformation.version_tag }})</span
    >
  </div>

  <span class="d-flex justify-center align-items-center">
    <mat-icon
      class="mat-icon-svg mr-1"
      [svgIcon]="svgIcon"
      title="{{
        transformation.state === RevisionState.RELEASED
          ? 'Published - Can be dragged into a workflow'
          : 'Draft - Work in progress'
      }}"
      [ngClass]="{
        'draggable-mat-icon': transformation.state === RevisionState.RELEASED,
        'mat-icon-svg--draft': transformation.state !== RevisionState.RELEASED
      }"
    >
    </mat-icon>
    <span
      title="Open context menu"
      (click)="$event.preventDefault(); openContextMenu($event)"
    >
      <mat-icon>more_horiz</mat-icon>
    </span>
  </span>
</div>
