<div
  [draggable]="true"
  (dragstart)="dragComponent($event)"
  class="navigation-item clickable"
  (dblclick)="editComponent()"
  (mouseover)="selectComponent()"
  (contextmenu)="$event.preventDefault(); openContextMenu($event)"
  attr.data-testid="{{
    transformation.name + '(' + transformation.version_tag + ')-navigation-item'
      | lowercase
  }}"
>
  <div class="navigation-item__label" attr.data-id="{{ transformation.id }}">
    <span class="text-ellipsis" [title]="transformation.name">{{
      transformation.name
    }}</span>
    <span class="text-keep-whitespace">
      ({{ transformation.version_tag }})</span
    >
  </div>

  <span class="d-flex justify-center align-items-center">
    <mat-icon
      [class]="
        transformation.state === RevisionState.DISABLED
          ? 'mat-icon-svg-disabled mr-1'
          : 'mat-icon-svg mr-1'
      "
      [svgIcon]="svgIcon"
      title="{{
        transformation.state === RevisionState.RELEASED
          ? 'Published - Released'
          : transformation.state === RevisionState.DRAFT
            ? 'Draft - Work in progress'
            : 'Deprecated - Disabled trafos cannot be dragged into workflows'
      }}"
      [ngClass]="{
        'draggable-mat-icon': transformation.state === RevisionState.DISABLED,
        'mat-icon-svg--draft': transformation.state === RevisionState.DRAFT
      }"
    >
    </mat-icon>
    <span
      title="Open context menu"
      (click)="$event.preventDefault(); openContextMenu($event)"
    >
      <mat-icon>more_horiz</mat-icon>
    </span>
  </span>
</div>
