@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme';
@use '../colors';

@include mat.elevation-classes();
@include mat.app-background();

// Colors

$mg-primary-palette: (
  100: colors.$hd-grey,
  200: colors.$hd-blue-dark,
  300: colors.$hd-blue-light,
  400: colors.$hd-pink,
  500: colors.$hd-black,
  700: colors.$hd-grey-dark,
  A100: colors.$hd-white,
  A200: colors.$hd-grey-dark,
  A400: colors.$hd-grey,
  contrast: (
    100: colors.$hd-black,
    200: colors.$hd-white,
    300: colors.$hd-white,
    400: colors.$hd-white,
    500: colors.$hd-white,
    700: colors.$hd-white
  )
);

$mg-secondary-palette: (
  100: colors.$hd-grey,
  200: colors.$hd-grey-dark,
  300: colors.$hd-blue-light,
  400: colors.$hd-black,
  500: colors.$hd-white,
  700: colors.$hd-grey,
  contrast: (
    100: colors.$hd-yellow,
    200: colors.$hd-yellow,
    300: colors.$hd-yellow,
    400: colors.$hd-yellow,
    500: colors.$hd-black,
    700: colors.$hd-black
  )
);

// Typography

$light-primary-text: map.get($mg-primary-palette, 700);

$mg-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.m2-define-typography-level(24px, 32px, 400),
  $headline-2: mat.m2-define-typography-level(20px, 32px, 400),
  $headline-3: mat.m2-define-typography-level(16px, 24px, 400),
  $headline-4: mat.m2-define-typography-level(15px, 24px, 400),
  $headline-5: mat.m2-define-typography-level(24px, 32px, 400),
  $headline-6: mat.m2-define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.m2-define-typography-level(16px, 28px, 400),
  $subtitle-2: mat.m2-define-typography-level(14px, 24px, 500),
  $body-1: mat.m2-define-typography-level(14px, 20px, 400),
  $body-2: mat.m2-define-typography-level(14px, 20px, 400),
  $caption: mat.m2-define-typography-level(10.5px, 12px, 500),
  $button: mat.m2-define-typography-level(14px, 14px, 500)
);

@include mat.all-component-typographies($mg-typography);

// Density

@include mat.all-component-densities(-1);

// Light Theme

mat.$m2-light-theme-foreground-palette: (
  base: map.get($mg-primary-palette, 500),
  divider: map.get($mg-primary-palette, 100),
  dividers: map.get($mg-primary-palette, 100),
  disabled: map.get($mg-secondary-palette, 100),
  disabled-button: map.get($mg-secondary-palette, 400),
  disabled-text: map.get($mg-secondary-palette, 700),
  elevation: map.get($mg-secondary-palette, 700),
  hint-text: map.get($mg-primary-palette, 100),
  secondary-text: map.get($mg-primary-palette, 500),
  icon: map.get($mg-primary-palette, 700),
  icons: map.get($mg-primary-palette, 700),
  text: map.get($mg-primary-palette, 500),
  slider-min: map.get($mg-primary-palette, 700),
  slider-off: map.get($mg-primary-palette, 100),
  slider-off-active: map.get($mg-primary-palette, 400)
);

mat.$m2-light-theme-background-palette: (
  status-bar: map.get($mg-secondary-palette, 400),
  app-bar: map.get($mg-secondary-palette, 400),
  background: map.get($mg-secondary-palette, 500),
  hover: map.get($mg-primary-palette, 700),
  card: map.get($mg-secondary-palette, 500),
  dialog: map.get($mg-secondary-palette, 500),
  disabled-button: map.get($mg-secondary-palette, 700),
  raised-button: map.get($mg-primary-palette, 700),
  focused-button: map.get($mg-primary-palette, 700),
  selected-button: map.get($mg-primary-palette, 500),
  selected-disabled-button: map.get($mg-secondary-palette, 700),
  disabled-button-toggle: map.get(mat.$m2-grey-palette, 200),
  unselected-chip: map.get(mat.$m2-grey-palette, 300),
  disabled-list-option: map.get(mat.$m2-grey-palette, 200)
);

$hd-primary: mat.m2-define-palette($mg-primary-palette);
$hd-accent: mat.m2-define-palette($mg-secondary-palette, 200, 100, 400);
$hd-warn: mat.m2-define-palette(mat.$m2-red-palette);
$hd-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $hd-primary,
      accent: $hd-accent,
      warn: $hd-warn
    )
  )
);

@include mat.all-component-themes($hd-theme);
@include theme.hd-material-theme($hd-theme);

// Dark Theme

mat.$m2-dark-theme-foreground-palette: (
  base: map.get($mg-secondary-palette, 500),
  divider: map.get($mg-secondary-palette, 700),
  dividers: map.get($mg-secondary-palette, 700),
  disabled: map.get($mg-primary-palette, 500),
  disabled-button: map.get($mg-primary-palette, 100),
  disabled-text: map.get($mg-primary-palette, 700),
  elevation: map.get($mg-primary-palette, 500),
  hint-text: map.get($mg-secondary-palette, 100),
  secondary-text: map.get($mg-secondary-palette, 500),
  icon: map.get($mg-secondary-palette, 700),
  icons: map.get($mg-secondary-palette, 700),
  text: map.get($mg-secondary-palette, 500),
  slider-min: map.get($mg-secondary-palette, 700),
  slider-off: map.get($mg-secondary-palette, 100),
  slider-off-active: map.get($mg-secondary-palette, 400)
);

mat.$m2-dark-theme-background-palette: (
  status-bar: map.get($mg-primary-palette, 400),
  app-bar: map.get($mg-primary-palette, 400),
  background: map.get($mg-primary-palette, 500),
  hover: map.get($mg-secondary-palette, 200),
  card: map.get($mg-primary-palette, 500),
  dialog: map.get($mg-primary-palette, 500),
  disabled-button: map.get($mg-primary-palette, 500),
  raised-button: map.get($mg-secondary-palette, 700),
  focused-button: map.get($mg-secondary-palette, 700),
  selected-button: map.get($mg-primary-palette, 500),
  selected-disabled-button: map.get($mg-primary-palette, 500),
  disabled-button-toggle: map.get(mat.$m2-grey-palette, 200),
  unselected-chip: map.get(mat.$m2-grey-palette, 300),
  disabled-list-option: map.get(mat.$m2-grey-palette, 200)
);

$hd-dark-primary: mat.m2-define-palette($mg-secondary-palette);
$hd-dark-accent: mat.m2-define-palette($mg-primary-palette, A200, A100, A400);
$hd-dark-warn: mat.m2-define-palette(mat.$m2-red-palette);
$hd-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $hd-dark-primary,
      accent: $hd-dark-accent,
      warn: $hd-dark-warn
    )
  )
);

.dark-theme {
  @include mat.all-component-colors($hd-dark-theme);
  @include theme.hd-material-theme($hd-dark-theme);
}
