@use '@angular/material' as mat;
@import 'node_modules/@angular/material/theming';
@import 'theme';
@import '../colors';

@include mat.core();

// Colors

$mg-primary-palette: (
  100: $hd-grey,
  200: $hd-blue-dark,
  300: $hd-blue-light,
  400: $hd-pink,
  500: $hd-black,
  700: $hd-grey-dark,
  A100: $hd-white,
  A200: $hd-grey-dark,
  A400: $hd-grey,
  contrast: (
    100: $hd-black,
    200: $hd-white,
    300: $hd-white,
    400: $hd-white,
    500: $hd-white,
    700: $hd-white
  )
);

$mg-secondary-palette: (
  100: $hd-grey,
  200: $hd-grey-dark,
  300: $hd-blue-light,
  400: $hd-black,
  500: $hd-white,
  700: $hd-grey,
  contrast: (
    100: $hd-yellow,
    200: $hd-yellow,
    300: $hd-yellow,
    400: $hd-yellow,
    500: $hd-black,
    700: $hd-black
  )
);

// Typography

$light-primary-text: map_get($mg-primary-palette, 700);

$mg-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(24px, 32px, 400),
  $headline-2: mat.define-typography-level(20px, 32px, 400),
  $headline-3: mat.define-typography-level(16px, 24px, 400),
  $headline-4: mat.define-typography-level(15px, 24px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $subtitle-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(10.5px, 12px, 500),
  $button: mat.define-typography-level(14px, 14px, 500)
);

@include mat.all-component-typographies($mg-typography);

// Density

@include mat.all-component-densities(-1);

// Light Theme

mat.$light-theme-foreground-palette: (
  base: map_get($mg-primary-palette, 500),
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: map_get($mg-secondary-palette, 100),
  disabled-button: map_get($mg-secondary-palette, 400),
  disabled-text: map_get($mg-secondary-palette, 700),
  elevation: map_get($mg-secondary-palette, 700),
  hint-text: map_get($mg-primary-palette, 100),
  secondary-text: map_get($mg-primary-palette, 500),
  icon: map_get($mg-primary-palette, 700),
  icons: map_get($mg-primary-palette, 700),
  text: map_get($mg-primary-palette, 500),
  slider-min: map_get($mg-primary-palette, 700),
  slider-off: map_get($mg-primary-palette, 100),
  slider-off-active: map_get($mg-primary-palette, 400)
);

mat.$light-theme-background-palette: (
  status-bar: map_get($mg-secondary-palette, 400),
  app-bar: map_get($mg-secondary-palette, 400),
  background: map_get($mg-secondary-palette, 500),
  hover: map_get($mg-primary-palette, 700),
  card: map_get($mg-secondary-palette, 500),
  dialog: map_get($mg-secondary-palette, 500),
  disabled-button: map_get($mg-secondary-palette, 700),
  raised-button: map_get($mg-primary-palette, 700),
  focused-button: $dark-focused,
  selected-button: map_get($mg-primary-palette, 500),
  selected-disabled-button: map_get($mg-secondary-palette, 700),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200)
);

$hd-primary: mat.define-palette($mg-primary-palette);
$hd-accent: mat.define-palette($mg-secondary-palette, 200, 100, 400);
$hd-warn: mat.define-palette(mat.$red-palette);
$hd-theme: mat.define-light-theme(
  (
    color: (
      primary: $hd-primary,
      accent: $hd-accent,
      warn: $hd-warn
    )
  )
);

@include mat.all-component-themes($hd-theme);
@include hd-material-theme($hd-theme);

// Dark Theme

mat.$dark-theme-foreground-palette: (
  base: map_get($mg-secondary-palette, 500),
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: map_get($mg-primary-palette, 500),
  disabled-button: map_get($mg-primary-palette, 100),
  disabled-text: map_get($mg-primary-palette, 700),
  elevation: map_get($mg-primary-palette, 500),
  hint-text: map_get($mg-secondary-palette, 100),
  secondary-text: map_get($mg-secondary-palette, 500),
  icon: map_get($mg-secondary-palette, 700),
  icons: map_get($mg-secondary-palette, 700),
  text: map_get($mg-secondary-palette, 500),
  slider-min: map_get($mg-secondary-palette, 700),
  slider-off: map_get($mg-secondary-palette, 100),
  slider-off-active: map_get($mg-secondary-palette, 400)
);

mat.$dark-theme-background-palette: (
  status-bar: map_get($mg-primary-palette, 400),
  app-bar: map_get($mg-primary-palette, 400),
  background: map_get($mg-primary-palette, 500),
  hover: map_get($mg-secondary-palette, 200),
  card: map_get($mg-primary-palette, 500),
  dialog: map_get($mg-primary-palette, 500),
  disabled-button: map_get($mg-primary-palette, 500),
  raised-button: map_get($mg-secondary-palette, 700),
  focused-button: $light-focused,
  selected-button: map_get($mg-primary-palette, 500),
  selected-disabled-button: map_get($mg-primary-palette, 500),
  disabled-button-toggle: map_get(mat.$grey-palette, 200),
  unselected-chip: map_get(mat.$grey-palette, 300),
  disabled-list-option: map_get(mat.$grey-palette, 200)
);

$hd-dark-primary: mat.define-palette($mg-secondary-palette);
$hd-dark-accent: mat.define-palette($mg-primary-palette, A200, A100, A400);
$hd-dark-warn: mat.define-palette(mat.$red-palette);
$hd-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $hd-dark-primary,
      accent: $hd-dark-accent,
      warn: $hd-dark-warn
    )
  )
);

.dark-theme {
  @include mat.all-component-colors($hd-dark-theme);
  @include hd-material-theme($hd-dark-theme);
}
