@import '../colors';

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.mat-icon-svg {
  margin-right: 10px;
}

.draggable-mat-icon {
  cursor: move;
}

.mat-icon.mat-icon--small {
  font-size: 18px;
  width: 18px;
  height: 18px;
  overflow: visible;
}

.mat-mdc-tab-body-wrapper {
  width: 100%;
  height: 100%;
}

hd-popover-transformation,
hd-copy-transformation-dialog {
  .mat-mdc-form-field-infix {
    display: flex;
    align-items: center;

    .mat-mdc-input-element:read-only {
      cursor: default;
    }
  }
}

.mat-mdc-form-field--no-fixed-width {
  .mat-mdc-text-field-wrapper {
    width: 100%;
  }
}

.icon {
  .mat-button-toggle-label-content {
    line-height: 0 !important;
  }
}

.mat-mdc-form-field {
  width: 100%;

  .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-form-field-prefix {
    top: 0;
  }

  &.noPadding {
    .mat-mdc-text-field-wrapper {
      padding: 0;
    }
  }
}

.mat-form-field-appearance-standard:not(.mat-mdc-form-field-disabled)
  .mat-mdc-form-field-flex:hover
  ~ .mat-mdc-form-field-underline
  .mat-mdc-form-field-ripple {
  opacity: 0 !important;
}

.mat-expansion-panel-body {
  padding: 0 12px 8px !important;
}

.mat-icon {
  padding: 1px;
}

.mat-divider-horizontal {
  margin-bottom: 10px !important;
}

.mat-mdc-tab-header {
  .mat-mdc-tab {
    height: 34px !important;
    font-size: 13px;
    padding: 0;
    min-width: 240px;
    flex-grow: 0 !important;
    &[aria-posinset='1'] {
      min-width: 80px;
    }

    .mdc-tab__content {
      width: 100%;
      padding: 0 5px 0 5px;

      .mdc-tab__text-label {
        max-width: 300px;
        width: 100%;
        justify-content: center;

        .mat-mdc-icon-button {
          width: 48px;
        }
      }
    }

    .mdc-tab-indicator__content--underline {
      border-top-width: 1px !important;
    }
  }
}

.mat-chip-list {
  &--mini-chip {
    .mat-chip-list-wrapper {
      .mat-chip.mat-standard-chip {
        margin: 2px;
        min-height: 24px;
        font-size: 13px;
      }
    }
  }
}

// TODO: Remove important flags by increasing the specificity of these classes if possible.
.mat-mdc-raised-button {
  border-radius: 0 !important;
}

.navigation-container__buttons {
  .add-button {
    display: flex !important;
    align-items: center;
    height: 40px;
  }
}

.navigation-container__search {
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 50px;
  }
}

.mat-mdc-select-panel {
  min-width: fit-content;
}

.mdc-dialog__container {
  padding: 0 !important;

  .mat-mdc-dialog-title {
    padding: 0 0 0 24px !important;
    margin: 0 0 20px 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    height: 40px;
  }

  .mdc-dialog__title::before {
    display: none !important;
  }

  .mat-mdc-dialog-content {
    padding: 0 24px 0 24px !important;
  }

  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
    .mat-mdc-form-field-infix {
    padding-top: 18px;
    padding-bottom: 2px;
    min-height: 44px;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 24px;
  }

  .mat-mdc-form-field-hint-wrapper {
    padding: 0;
  }

  .mat-mdc-form-field-error-wrapper {
    padding: 0;
  }

  .mdc-text-field {
    padding: 0;

    .mat-mdc-form-field-icon-suffix .mat-icon {
      font-size: 150%;
    }
  }

  .mat-mdc-dialog-actions {
    justify-content: flex-end !important;
    border-top: 1px solid !important;
    margin: 20px 24px 0 24px !important;
    padding: 8px 0 8px 0 !important;
  }

  .json-editor__toolbar__upload-json-button {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
  }
}
