@import '../colors';

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-icon-svg {
  margin-right: 10px;
}

.draggable-mat-icon {
  cursor: move;
}

.mat-icon.mat-icon--small {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.mat-tab-body-wrapper {
  width: 100%;
  height: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

hd-popover-base-item,
hd-copy-base-item-dialog {
  .mat-form-field-infix {
    display: flex;
    align-items: center;

    .mat-input-element:read-only {
      cursor: default;
    }
  }
}

.mat-form-field--no-fixed-width {
  .mat-form-field-infix {
    width: 100%;
  }
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

.icon {
  .mat-button-toggle-label-content {
    line-height: 0 !important;
  }
}

.mat-form-field {
  width: 100%;

  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix {
    top: 0;
  }

  &.noPadding {
    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-appearance-outline {
      margin: 0;
    }
  }

  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0;
  }
}

.mat-form-field-appearance-standard:not(.mat-form-field-disabled)
  .mat-form-field-flex:hover
  ~ .mat-form-field-underline
  .mat-form-field-ripple {
  opacity: 0 !important;
}

.mat-expansion-panel-body {
  padding: 0 12px 8px !important;
}

.mat-icon {
  border-radius: 100%;
}

.mat-divider-horizontal {
  margin-bottom: 10px !important;
}

.mat-tab-header {
  .mat-tab-label {
    height: 33px;
    font-size: 13px;
    padding: 0;
    min-width: 240px;
    &[aria-posinset='1'] {
      min-width: 80px;
    }
    .mat-tab-label-content {
      width: 100%;
      padding: 0 5px;
      .flex-container {
        max-width: 300px;
        width: 100%;
        justify-content: center;
        .mat-icon-button {
          width: 24px;
        }
      }
    }
  }
}

.mat-chip-list {
  &--mini-chip {
    .mat-chip-list-wrapper {
      .mat-chip.mat-standard-chip {
        margin: 2px;
        min-height: 24px;
        font-size: 13px;
      }
    }
  }
}

.mat-snack-bar-container {
  background-color: $hd-pink;
}

.dark-theme {
  & .mat-snack-bar-container {
    color: rgba($hd-white, 0.7);
    background-color: $hd-pink;
  }
}

// TODO: Remove important flags by increasing the specificity of these classes if possible.
.mat-raised-button {
  border-radius: 0 !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-actions {
  border-top: 1px solid;
  margin: 20px 24px 0 24px !important;
  padding: 8px 0 8px 0 !important;
}

.mat-dialog-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mat-dialog-title {
  background-color: $hd-yellow;
  padding-left: 24px;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  height: 40px;
}
