@import '../colors';
@import 'src/app/app.component.theme';
@import 'src/app/components/navigation/navigation-container/navigation-container.component.theme';
@import 'src/app/components/popover-transformation/popover-transformation.component.theme';
@import 'src/app/components/protocol-viewer/protocol-viewer.component.theme';
@import 'node_modules/hd-wiring/theme';
// @import 'src/app/hd-wiring-module/node-search/node-search.component.theme';

@mixin hd-material-theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, accent);
  $secondary-contrasts: map-get($secondary, contrast);

  @include app-theme($primary);
  @include navigation-container-theme($primary, $secondary);
  @include popover-transformation-theme($primary, $secondary);
  @include protocol-viewer-theme($primary, $secondary);
  @include hd-wiring-theme($theme);
  // @include node-search-theme($primary, $secondary);

  // Plain HTML elements overrides
  // TODO: Can we wrap those?
  textarea {
    background-color: map_get($secondary, 500);
    color: map_get($primary, 500);
  }

  // Hetida Flowchart overrides
  .hetida-flowchart-svg {
    background-color: map_get($secondary, 700);
  }

  // Angular Material overrides
  .mat-mdc-form-field {
    .mat-focused {
      color: map-get($primary, 700);
    }
  }

  .mat-mdc-text-field-wrapper {
    background-color: map_get($secondary, 500) !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: unset !important;
  }

  .mat-expansion-panel {
    border-color: map-get($secondary, 700);
  }

  .dark-theme {
    .mat-expansion-panel {
      border-color: map-get($primary, 700);
    }
  }

  .mat-button-toggle-checked {
    background-color: map_get($secondary, 500);
    color: map_get($primary, 500);
  }

  .mdc-switch--selected {
    --mdc-switch-selected-focus-track-color: #e3e3e3;
    --mdc-switch-selected-hover-track-color: #e3e3e3;
    --mdc-switch-selected-pressed-track-color: #e3e3e3;
    --mdc-switch-selected-track-color: #e3e3e3;
    --mdc-switch-handle-surface-color: #424242;
    --mdc-switch-selected-hover-handle-color: #212121;
  }

  .mat-icon-svg {
    &--draft {
      .cls-1 {
        fill: map_get($primary, 500);
      }
    }
  }

  .hetida-context-menu {
    hr {
      margin: 0;
    }

    background-color: $hd-white !important;
    color: $hd-black;
    border-color: $hd-black;
    border-radius: 5px;

    ul {
      li:hover {
        background-color: $hd-grey-dark;
      }
    }

    & .component {
      background-color: $hd-white !important;
      color: $hd-black;
      border-color: $hd-black;

      ul {
        li:hover {
          background-color: $hd-grey-dark;
        }
      }
    }
  }

  .app-context-menu {
    border: 1px solid map-get($primary, 700);

    .mat-mdc-menu-content {
      .mat-mdc-menu-item {
        min-height: 25px;
        line-height: 25px;
      }
    }
  }

  .mat-mdc-menu-item:hover:not([disabled]) {
    background-color: $hd-grey-dark !important;
  }

  .mat-mdc-menu-item:focus:not([disabled]) {
    background-color: $hd-grey-dark !important;
  }

  .mat-mdc-select-panel {
    .mat-mdc-option:hover {
      background-color: $hd-grey-dark !important;
    }
  }

  .mdc-dialog__container {
    // Won't work with map-get or variables
    --mdc-dialog-supporting-text-color: #292929;

    .mat-mdc-dialog-title {
      color: $hd-black !important;
      background-color: $hd-yellow;
    }

    .mat-mdc-text-field-wrapper
      .mat-mdc-form-field-flex
      .mat-mdc-floating-label {
      color: $hd-black;
    }
  }

  .dark-theme {
    & .mdc-dialog__container {
      // Won't work with map-get or variables
      --mdc-dialog-supporting-text-color: #ffffff !important;

      & .mat-mdc-dialog-title {
        color: $hd-black !important;
      }

      .mat-mdc-text-field-wrapper
        .mat-mdc-form-field-flex
        .mat-mdc-floating-label {
        color: $hd-white !important;
      }

      & .hetida-context-menu {
        ul {
          li:hover {
            background-color: $hd-blue-dark;
          }
        }
      }
    }
  }

  .mat-mdc-tab-labels {
    background-color: map-get($secondary, 700);

    .mat-icon-svg {
      .cls-1 {
        fill: map_get($primary, 500);
      }
    }

    .mdc-tab-indicator--active {
      background-color: map-get($secondary, 500) !important;

      .mat-icon-svg {
        .cls-1 {
          fill: $hd-yellow;
        }
      }

      .mdc-tab-indicator__content--underline {
        border-color: map-get($secondary, 700);
      }
    }
  }

  .mat-tab-group.mat-primary .mat-ink-bar {
    background: none;
  }

  .dark-theme .mat-tab-group .mat-tab-label-container {
    background-color: map-get($secondary, 700);
  }

  .mat-tab-group .mat-tab-label-container {
    background-color: map-get($secondary, 700);
  }

  .navigation-container__search {
    // Won't work with map-get or variables
    --mdc-outlined-text-field-outline-color: #e3e3e3;
  }

  .dark-theme {
    & .navigation-container__search {
      --mdc-outlined-text-field-hover-outline-color: $hd-white;
    }
  }

  .mat-mdc-snack-bar-container {
    background-color: $hd-pink;
    --mdc-snackbar-container-color: $hd-pink;
  }

  .dark-theme {
    & .mat-mdc-snack-bar-container {
      color: rgba($hd-white, 0.7) !important;
      --mdc-snackbar-supporting-text-color: rgba($hd-white, 0.7) !important;
      background-color: $hd-pink;
      --mdc-snackbar-container-color: $hd-pink;
    }
  }

  .mat-mdc-dialog-actions {
    border-color: grey !important;
  }
}
