@if (transformation !== undefined) {
  <span>
    <mat-icon
      class="clickable unselectable"
      title="Edit {{ transformation.type | lowercase }} details"
      (click)="editDetails()"
      attr.data-testid="Edit"
    >
      edit
    </mat-icon>
    <mat-icon
      class="clickable unselectable"
      title="Configure I/O"
      (click)="configureIO()"
      [ngClass]="{
        disabled: isWorkflowWithoutIo
      }"
      attr.data-testid="Configure_IO"
    >
      settings_input_component
    </mat-icon>
    <mat-icon
      class="clickable unselectable"
      title="{{ executeTooltip }}"
      (click)="execute()"
      [ngClass]="{ disabled: incompleteFlag }"
      attr.data-testid="Execute"
    >
      play_circle_outline
    </mat-icon>
    @if (isWorkflow) {
      <mat-divider vertical></mat-divider>
      <mat-icon
        class="clickable unselectable"
        title="Show entire workflow"
        (click)="showWorkflow()"
        attr.data-testid="Show_entire_workflow"
      >
        zoom_out_map
      </mat-icon>
      <mat-icon
        class="clickable unselectable"
        title="Zoom in"
        (click)="zoomIn()"
        attr.data-testid="Zoom_in"
      >
        zoom_in
      </mat-icon>
      <mat-icon
        class="clickable unselectable"
        title="Zoom out"
        (click)="zoomOut()"
        attr.data-testid="Zoom_out"
      >
        zoom_out
      </mat-icon>
    }
  </span>
  <span [ngClass]="transformation.state.toLowerCase()" class="unselectable">
    {{
      transformation.state === 'DISABLED' ? 'DEPRECATED' : transformation.state
    }}
  </span>
  <span>
    @if (isWorkflow) {
      <mat-icon
        class="clickable unselectable"
        title="{{ upgradeWorkflowOperatorsTooltip }}"
        (click)="upgradeWorkflowOperators()"
        [ngClass]="{ disabled: isReleasedOrDeprecated() }"
        attr.data-testid="Upgrade_workflow_operators"
      >
        auto_awesome
      </mat-icon>
    }
    @if (isComponent) {
      <mat-icon
        class="clickable unselectable"
        title="{{ updateExpandTooltip }}"
        (click)="updateExpand()"
        [ngClass]="{ disabled: isReleasedOrDeprecated() }"
        attr.data-testid="Update_and_Expand_code"
      >
        cleaning_services
      </mat-icon>
    }
    @if (isComponent) {
      <mat-icon
        class="clickable unselectable"
        title="{{ unitTestTooltip }}"
        (click)="unitTestComponent()"
        attr.data-testid="Run_Unit_Tests"
      >
        bug_report
      </mat-icon>
    }
    <mat-divider vertical></mat-divider>
    <mat-icon
      class="clickable unselectable"
      title="{{ publishTooltip }}"
      (click)="publish()"
      [ngClass]="{ disabled: isReleasedOrDeprecated() }"
      attr.data-testid="Publish"
    >
      share
    </mat-icon>
    <mat-icon
      class="clickable unselectable"
      title="{{ newRevisionTooltip }}"
      (click)="newRevision()"
      [ngClass]="{ disabled: !isReleasedOrDeprecated() }"
      attr.data-test-id="New_revision"
    >
      plus_one
    </mat-icon>
    <mat-icon
      class="clickable unselectable"
      title="Copy"
      (click)="copy()"
      attr.data-testid="Copy"
    >
      file_copy
    </mat-icon>
    <mat-divider vertical></mat-divider>
    <mat-icon
      class="clickable unselectable"
      title="{{ deprecateTooltip }}"
      (click)="deprecate()"
      [ngClass]="{ disabled: !isReleased() }"
      attr.data-testid="Deprecate"
    >
      desktop_access_disabled
    </mat-icon>
    <mat-icon
      class="clickable unselectable"
      title="{{ deleteTooltip }}"
      (click)="delete()"
      [ngClass]="{ disabled: isReleasedOrDeprecated() }"
      attr.data-testid="Delete"
    >
      delete_forever
    </mat-icon>
    <mat-divider vertical></mat-divider>
    <mat-icon
      class="clickable unselectable"
      title="Open documentation"
      (click)="showDocumentation()"
      attr.data-testid="Open_documentation"
    >
      description
    </mat-icon>
  </span>
}
