<div class="d-flex content-space-between" mat-dialog-title>
  <h4 class="m-0">{{ data.title }}</h4>
  <button
    (click)="onCancel()"
    mat-icon-button
    attr.data-testid="close-copy-transformation-dialog"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="block" mat-dialog-content>
  <form *ngIf="infoForm" [formGroup]="infoForm" autocomplete="off" novalidate>
    <mat-form-field class="noPadding">
      <mat-label>{{ data.transformation.type | titlecase }} name</mat-label>
      <input
        formControlName="name"
        id="name"
        matInput
        placeholder="{{ data.transformation.type | titlecase }} name"
        type="text"
      />
      <mat-hint align="end">Max. 60 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('name')"></mat-error>
    </mat-form-field>

    <mat-form-field class="noPadding">
      <mat-label>Category</mat-label>
      <input
        formControlName="category"
        id="category"
        matInput
        placeholder="Category"
        type="text"
        [matAutocomplete]="auto"
      />
      <mat-hint align="end">Max. 60 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('category')"></mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let category of filteredCategories$ | async"
          [value]="category"
          >{{ category }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="noPadding">
      <mat-label>Short description</mat-label>
      <input
        formControlName="description"
        id="description"
        matInput
        placeholder="Short description"
        type="text"
      />
      <mat-error [hdErrorVisual]="infoForm.get('description')"></mat-error>
    </mat-form-field>

    <mat-form-field class="noPadding">
      <mat-label>Tag</mat-label>
      <input
        formControlName="tag"
        id="tag"
        matInput
        placeholder="Tag"
        type="text"
      />
      <mat-hint align="end">Unique and max. 20 characters.</mat-hint>
      <mat-error [hdErrorVisual]="infoForm.get('tag')"></mat-error>
    </mat-form-field>
  </form>
  <small class="block__small-info"
    >{{ data.transformation.type | titlecase }} revision ID:
    <a
      [routerLink]="[]"
      [queryParams]="{ id: data.transformation.id }"
      target="_blank"
      >{{ data.transformation.id }}</a
    >&nbsp;(<a [href]="getDashboardUrl()" target="_blank">dashboard</a>)
  </small>
  <small class="block__small-info"
    >{{ data.transformation.type | titlecase }} revision group ID:
    {{ data.transformation.revision_group_id }}</small
  >
  <small class="block__small-info"
    >{{ data.transformation.type | titlecase }} released timestamp:
    {{
      data.transformation.released_timestamp
        ? data.transformation.released_timestamp
        : '-'
    }}</small
  >
</div>
<div
  [ngClass]="{
    'copy-transformation--with-delete-button': data.showDeleteButton
  }"
  mat-dialog-actions
>
  <button
    class="mr-a"
    *ngIf="data.showDeleteButton"
    (click)="_onDelete()"
    color="warn"
    mat-raised-button
    attr.data-testid="{{
      data.deleteButtonText + '-copy-transformation-dialog' | lowercase
    }}"
  >
    {{ data.deleteButtonText }}
  </button>
  <button
    (click)="onCancel()"
    color="primary"
    mat-raised-button
    attr.data-testid="{{
      data.actionCancel + '-copy-transformation-dialog' | lowercase
    }}"
  >
    {{ data.actionCancel }}
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onOk()"
    [disabled]="isAllDataPropertiesDisabled()"
    attr.data-testid="{{
      data.actionOk + '-copy-transformation-dialog' | lowercase
    }}"
  >
    {{ data.actionOk }}
  </button>
</div>
