.copy-transformation {
  &__delete-button {
    margin-right: auto;
  }
  &--with-delete-button {
    justify-content: flex-start;
  }
  &__divider {
    margin: 16px 0 12px;
  }
}

.block__small-info {
  font-size: 0.8em;
  color: gray;
  display: block;
}
